In [2]:
import importlib
import fusemix.data_loading as data_loading

from ucimlrepo import fetch_ucirepo

import pandas as pd

importlib.reload(data_loading)

In [3]:
dataset_info = pd.read_csv("dataset_ids.csv", sep=" ")

dataset_info['Rows'] = 0
dataset_info['Num_features'] = 0
dataset_info['Num_categoricals'] = 0
dataset_info['Num_classes'] = 0
dataset_info['Missing_features'] = 0
dataset_info['Missing_rows'] = 0
dataset_info['Total_missings'] = 0


dataset_info.head()

,Name,Id,Rows,Num_features,Num_categoricals,Num_classes,Missing_features,Missing_rows,Total_missings
0,Parkinsons,174,0,0,0,0,0,0,0
1,breast_cancer_wisconsin_diagnostic,17,0,0,0,0,0,0,0
2,dermatology,33,0,0,0,0,0,0,0
3,hearth_disease,45,0,0,0,0,0,0,0
4,Breast_Cancer_Wisconsin_(Original),15,0,0,0,0,0,0,0

In [4]:
for id in dataset_info['Id']:
    loaded_dataset = data_loading.load_uciml(id=id, na_drop=False)
    X = loaded_dataset['X']
    dataset_info.loc[dataset_info['Id'] == id, 'Num_classes'] =loaded_dataset['y'].value_counts().shape[0]
    dataset_info.loc[dataset_info['Id'] == id, 'Missing_rows'] = sum(X.isnull().sum(axis = 1) > 0)
    dataset_info.loc[dataset_info['Id'] == id, 'Rows'] = X.shape[0]
    dataset_info.loc[dataset_info['Id'] == id, 'Num_features'] = X.shape[1]
    dataset_info.loc[dataset_info['Id'] == id, 'Num_categoricals'] = len(loaded_dataset['cat_variables'])
    dataset_info.loc[dataset_info['Id'] == id, 'Missing_features']  = (X.isna().sum() > 0).sum()
    dataset_info.loc[dataset_info['Id'] == id, 'Total_missings'] = X.isna().sum().sum()

In [5]:
dataset_info.loc[dataset_info['Id'].isin([15,17,33,45])]

,Name,Id,Rows,Num_features,Num_categoricals,Num_classes,Missing_features,Missing_rows,Total_missings
1,breast_cancer_wisconsin_diagnostic,17,569,30,0,2,0,0,0
2,dermatology,33,366,34,1,6,1,8,8
3,hearth_disease,45,303,13,7,5,2,6,6
4,Breast_Cancer_Wisconsin_(Original),15,699,9,0,2,1,16,16